extends layout
block content
	div.wrapper
		p
			span#peopel 0 
			span user online
		div.msg
			div.chat-info
				img.user-normal-img(src="images/face.jpeg")
				span.time 
					strong.user-name stystem
					span ：2016/10/11 22:38:12
				span.message 用户 zp1996 已经离开群聊
		div.btns
			button#emoji emoji
			button#image image
			button#clear clear
		textarea#msg-input(placeholder="enter to send")
		button#send send
