extends layout
block content
	div.wrapper
		div.user-list
			ul#users
				li.user-all.current(data-id="group")
					span#peopel 0 
					span user online
				li.user(data-id="zp")
					img.user-img-style(src="images/face.jpeg") 
					span zp
				li.user(data-id="zpy")
					img.user-img-style(src="images/face.jpeg") 
					span zpy
		div#msg-area
			div.msg(data-id="group")
				p.attention 提示：点击头像或用户名可以进入私聊
		div.btns
			button#emoji emoji
			button#image image
			button#clear clear
		textarea#msg-input(placeholder="enter to send")
		button#send send
