doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="css/main.min.css")
		title #{title}
	body
		// mask
		include mask
		// header
		include header
		// main
		div.main-area
			block content
		// footer
		include footer
		script(type="text/javascript", src="http://cdn.staticfile.org/socket.io/1.3.7/socket.io.js")
		script(type="text/javascript", src="common/lsgo.min.js")
		script(type="text/javascript", src="js/index.js")
