mixin child
	- for(var i = 0; i < 4; i++)
		div(class="circle#{i + 1}")
div#mask
	div.loading
		div.spinner
			- for(var i = 0; i < 3; i++)
				div.spinner-container(class="container#{i + 1}")
					+child()
		div.layer-text 正在#{val}...
	div.enter-name
		p.info give yourself a pickname:
		input#pickname(type="text", placeholder="nickname")
		button#send-name ok