@charset "utf-8";
@import "./main";
@msgw: 500px;
@listw: 170px;
@mlp: 5px;
.wrapper{
	.size(@msgw + @listw + @mlp, 570px);
	padding: @mlp @mlp @mlp 0px;
	background: #ddd;
	margin: auto;
	box-shadow: -3px -2px 8px 1px rgba(0, 0, 0, 0.2);
}
.msg{
	width: @msgw;
	height: 430px;
	background: #fff;
	margin: 2px auto;
	overflow: auto;
	font-size: 12px;
}
.attention{
	text-align: center;
	color: #aaa;
	font-size: 10px;
	margin: 5px 0px;
}
button{
	padding: 2px 8px;
	margin: 0 10px;
	cursor: pointer;
}
.btns{
	margin: 5px auto;
}
#msg-input{
	.size(430px, 90px);
	float: left;
	padding: 5px;
}
#send{
	.size(50px, 102px);
	float: right;
	margin: 0px;
}
.fc{
	color: #999;
}
.user-in{
	text-align: center;
	padding: 5px;
	.fc;
}
@s: 28px;
.user-img-style{
	.size(@s, @s);
	vertical-align: middle;
	margin: 0 3px;
	cursor: pointer;
}
.user-normal-img{
	.user-img-style;
	float: left;
}
.user-img{
	.user-img-style;
	border-radius: @s / 2;
}
.user-name{
	text-decoration: underline;
	cursor: pointer;
}
.chat-info{
	padding: 10px;
	line-height: 18px;
	overflow: hidden;
}
@l: 8px;
.time{
	margin: 0px @l 4px; 
	width: 400px;
	float: left;
	.fc;
}
@c: #ccc;
.m{
	max-width: 240px;
	padding: 5px 9px;
	border-radius: 5px;
	position: relative;
}
.message{
	.m;
	margin-left: @l;
	background: @c;
	float: left;
}
.m-before{
	content: "";
	display: inline-block;
	border-width: 5px;
	border-style: solid;
	position: absolute;
	top: 8px;
}
.message::before{
	.m-before;
	border-color: @c @c transparent transparent;
	left: -10px;
}
.fr{
	float: right;
}
.me-chat-info{
	.chat-info;
	@c: #b9d6f3;
	text-align: right;
	.time{
		.fr;
	}
	.me-message{
		.m;
		.fr;
		margin-right: 10px;
		background: @c;
	}
	.me-message::before{
		.m-before;
		border-color: @c transparent transparent @c;
		right: -10px;
	}
	.user-normal-img{
		.user-img-style;
		.fr;
	}
}
.user-list{
	float: left;
	width: @listw;
	margin-right: @mlp;
	margin-top: 17px;
	height: 90%;
}
#users{
	list-style-type: none;
}
.user{
	height: 30px;
	line-height: 30px;
	padding: 4px 5px;
	overflow: hidden;
	cursor: pointer;
}
.user-all{
	.user;
}
.current{
	background: #ced2cf;
}
#peopel{
	margin-left: 7px;
}